<ul>
  <li
    class="thumbnail"
    *ngFor="let video of videos"
    [class.selected]="video.id === selectedId"
  >
    <a
      routerLink=""
      [queryParams]="{ videoId: video.id }"
      queryParamsHandling="merge"
    >
      <app-video-thumbnail [video]="video"></app-video-thumbnail>
    </a>
  </li>
</ul>
